<p id="notice"><%= notice %></p>

<h1>Add Employees</h1>

<br>

<form action="create">
	<h3>id</h3> 
	<input type="text" name="emp_id" placeholder="id">
	<br> 
	<h3>name</h3>
	<input type="text" name="emp_name">
	<br> 
	<h3>age</h3>
	<input type="integer" name="emp_age">
	<br> 
	<br>
	<input type="submit"> 
</form>

<br>
<%= link_to 'Back', homes_path %>

