<h1>Add Employee</h1>
<br>
<form action="/blog/create"> 
<input type="text" name="irum" placeholder="작성자">
<br> 
<textarea name="naeyong"></textarea>
<br> 
<input type="submit"> 
</form>


<%= link_to 'Back', homes_path %>
