<p id="notice"><%= notice %></p>

<!-- Menu Bar -->

<nav id="topMenu">
    <ul>
        <li class="topMenuLi">
            <a class="menuLink" href="/employees">Edit Employee</a>
        </li>

        <li>|</li>

        <li class="topMenuLi">
            <a class="menuLink" href="">Edit Column</a>
            <ul class="submenu">
                <li>
                    <a class="submenuLink" href="">Standard</a>
                </li>
                <li>
                    <a class="submenuLink" href="">Point</a>
                </li>
                <li>
                    <a class="submenuLink" href="">Salary</a>
                </li>
            </ul>
        </li>

    </ul>
</nav>

<div class="title">Home</div>

<div class="search">
    <form method="get" action="/results">
        <h3>Branch : </h3>
        <select name='branch'>
            <option value='ALL' selected>All</option>
            <option value='kitakyushu'>Kitakyushu</option>
            <option value='tokyo'>Tokyo</option>
            <option value='fukuoka'>Fukuoka</option>
        </select>

        <h3>Department : </h3>
        <select name='department'>
            <option value='ALL' selected>All</option>
            <option value='A'>A</option>
            <option value='B'>B</option>
            <option value='C'>C</option>
        </select>

	<h3>Task : </h3>
        <select name='task'>
            <option value='ALL' selected>All</option>
            <option value='development'>Development</option>
            <option value='management'>Management</option>
            <option value='human_resource'>Human Resource</option>
        </select>

        <h3>ID : </h3>
        <input type="text" name="emp_id" value="ALL">
        <br>
        <h3>
	<input type="submit" value="Search" style="margin-top: 50px; padding: 10px 20px;">
	</h3>
    </form>
</div>
<details>
    <ul>
    <b>Employee</b>
    <br />
    <input type="checkbox" name="box1" /> Employee ID
    <br />
    <input type="checkbox" name="box1" /> Branch
    <br />
    <input type="checkbox" name="box1" /> Name
    <br />
    <input type="checkbox" name="box1" /> Birth
    <br />
    <input type="checkbox" name="box1" /> Age
    <br />
    <input type="checkbox" name="box1" /> Judgment
    <br />
    <input type="checkbox" name="box1" /> Task
    <br />
    <input type="checkbox" name="box1" /> Department
    <br />
    <input type="checkbox" name="box1" /> Residence
    <br />
    <input type="checkbox" name="box1" /> Family spouse
    <br />
    <input type="checkbox" name="box1" /> Family except spouse
    <br />
    <input type="checkbox" name="box1" /> Position
    <br />
    </ul>

    <ul>
    <b>Point</b>
    <br />
    <input type="checkbox" name="box1" /> Employee ID
    <br />
    <input type="checkbox" name="box1" /> Age adjust
    <br />
    <input type="checkbox" name="box1" /> ISMS
    <br />
    <input type="checkbox" name="box1" /> Healty
    <br />
    <input type="checkbox" name="box1" /> Small group
    <br />
    <input type="checkbox" name="box1" /> Evaluation management
    <br />
    <input type="checkbox" name="box1" /> Evaluation technology
    <br />
    <input type="checkbox" name="box1" /> Adjustment
    <br />
    <input type="checkbox" name="box1" /> Short work
    <br />
    <input type="checkbox" name="box1" /> Over time
    <br />
    </ul>

    <ul>
    <b>Salary</b>
    <br />
    <input type="checkbox" name="box1" /> Employee ID
    <br />
    <input type="checkbox" name="box1" /> Standard salary
    <br />
    <input type="checkbox" name="box1" /> Ability salary
    <br />
    <input type="checkbox" name="box1" /> Position salary
    <br />
    <input type="checkbox" name="box1" /> Task salary
    <br />
    <input type="checkbox" name="box1" /> Praise salary
    <br />
    <input type="checkbox" name="box1" /> Residence support salary
    <br />
    <input type="checkbox" name="box1" /> Basic salary
    <br />
    <input type="checkbox" name="box1" /> Hour salary
    <br />
    <input type="checkbox" name="box1" /> Over hour salary
    <br />
    <input type="checkbox" name="box1" /> Over salary
    <br />
    <input type="checkbox" name="box1" /> Family salary
    <br />
    <input type="checkbox" name="box1" /> Total salary
    <br />
    <input type="checkbox" name="box1" /> Last total salary
    <br />
    <input type="checkbox" name="box1" /> Difference total salary
    <br />
    <input type="checkbox" name="box1" /> Rate
    <br />
    <input type="checkbox" name="box1" /> Last hour salary
    <br />
    <input type="checkbox" name="box1" /> Difference hour salary
    <br />
    <input type="checkbox" name="box1" /> Last rate
    <br />
    </ul>
</details>

