<p id="notice"><%= notice %></p>


<div class="title">Home</div>

<div class="search">
    <form method="get" action="/results">
        <h3>Branch : </h3>
        <select name='branch'>
            <option value='ALL' selected>All</option>
            <option value='kitakyushu'>Kitakyushu</option>
            <option value='tokyo'>Tokyo</option>
            <option value='fukuoka'>Fukuoka</option>
        </select>

        <h3>Department : </h3>
        <select name='department'>
            <option value='ALL' selected>All</option>
            <option value='A'>A</option>
            <option value='B'>B</option>
            <option value='C'>C</option>
        </select>

	<h3>Task : </h3>
        <select name='task'>
            <option value='ALL' selected>All</option>
            <option value='development'>Development</option>
            <option value='management'>Management</option>
            <option value='human_resource'>Human Resource</option>
        </select>

        <h3>ID : </h3>
        <input type="text" name="emp_id" value="ALL">
        <br>
        <h3>
	<input type="submit" value="Search" style="margin-top: 50px; padding: 10px 20px;">
	</h3>
    </form>
</div>
