<p id="notice"><%= notice %></p>

<div class="title">Home</div>

<div class="search">
    <form method="get" action="/results">
        <h3>Branch : </h3>
        <select name='branch'>
            <option value='ALL' selected>ALL</option>
            <option value='Fukuoka'>Fukuoka</option>
            <option value='Kitakyushu'>Kitakyushu</option>
            <option value='Tokyo'>Tokyo</option>
        </select>

        <h3>Department : </h3>
        <select name='department'>
            <option value='ALL' selected>ALL</option>
            <option value='F-Labo'>F-Labo</option>
            <option value='Growth Hack Ata'>Growth Hack Ata</option>
            <option value='Game Studio'>Game Studio</option>
            <option value='Teqbase'>Teqbase</option>
        </select>

        <h3>Task : </h3>
        <select name='task'>
            <option value='ALL' selected>ALL</option>
            <option value='Development'>Development</option>
            <option value='Management'>Management</option>
            <option value='Human Resource'>Human Resource</option>
        </select>

        <h3>ID : </h3>
        <input type="text" name="emp_id" value="ALL">

        <br>
        <h3><input type="submit" value="Search" style="margin: 50px 0px 0px -30px; padding: 10px 20px; cursor:pointer"></h3>


<!-- search option -->

        <details class="search_option">
            <summary style="cursor:pointer; width: 100px; margin: 0px auto 0px auto">Search Option</summary>
            <div style="text-align:center; width: 700px; margin: 0px auto 0px auto; padding-left: 100px">
                <ul style="text-align:left">
                <b>Employee</b>
                <br />
                <input type="checkbox" name="option_list[]" value="name" checked="checked"/> Name
                <br />
                <input type="checkbox" name="option_list[]" value="age" checked="checked"/> Age
                <br />
                <input type="checkbox" name="option_list[]" value="birth"/> Birth
                <br />
                <input type="checkbox" name="option_list[]" value="judgment"/> Judgment
                <br />
                <input type="checkbox" name="option_list[]" value="residence"/> Residence
                <br />
                <input type="checkbox" name="option_list[]" value="fam_spouse"/> Family Spouse
                <br />
                <input type="checkbox" name="option_list[]" value="fam_except_spouse"/> Family Except Spouse
                <br />
                <input type="checkbox" name="option_list[]" value="branch" checked="checked"/> Branch
                <br />
                <input type="checkbox" name="option_list[]" value="department" checked="checked"/> Department
                <br />
                <input type="checkbox" name="option_list[]" value="task" checked="checked"/> Task
                <br />
                <input type="checkbox" name="option_list[]" value="position" checked="checked"/> Position
                <br />
                </ul>

                <ul style="text-align:left">
                <b>Point</b>
                <br />
                <input type="checkbox" name="ck_age_ad" /> Age Adjust
                <br />
                <input type="checkbox" name="ck_isms" /> ISMS
                <br />
                <input type="checkbox" name="ck_healty" /> Healty
                <br />
                <input type="checkbox" name="ck_small_group" /> Small Group
                <br />
                <input type="checkbox" name="ck_eval_mgm" /> Evaluation Management
                <br />
                <input type="checkbox" name="ck_eval_tec" /> Evaluation Technology
                <br />
                <input type="checkbox" name="ck_adjustment" /> Adjustment
                <br />
                <input type="checkbox" name="ck_is_short_work" /> Short Work
                <br />
                <input type="checkbox" name="ck_overtime" /> Overtime
                <br />
                </ul>

                <ul style="text-align:left">
                <b>Salary</b>
                <br />
                <input type="checkbox" name="ck_standard_sal" /> Standard Salary
                <br />
                <input type="checkbox" name="ck_ability_sal" /> Ability Salary
                <br />
                <input type="checkbox" name="ck_position_sal" /> Position Salary
                <br />
                <input type="checkbox" name="ck_task_sal" /> Task Salary
                <br />
                <input type="checkbox" name="ck_praise_sal" /> Praise Salary
                <br />
                <input type="checkbox" name="ck_residence_spt_sal" /> Residence Support Salary
                <br />
                <input type="checkbox" name="ck_basic_sal" /> Basic Salary
                <br />
                <input type="checkbox" name="ck_hour_sal" /> Hour Salary
                <br />
                <input type="checkbox" name="ck_over_hour_sal" /> Over Hour Salary
                <br />
                <input type="checkbox" name="ck_over_sal" /> Over Salary
                <br />
                <input type="checkbox" name="ck_fam_sal" /> Family Salary
                <br />
                <input type="checkbox" name="ck_total_sal" /> Total Salary
                <br />
                <input type="checkbox" name="ck_last_total_sal" /> Last Total Salary
                <br />
                <input type="checkbox" name="ck_diff_total_sal" /> Difference Total Salary
                <br />
                <input type="checkbox" name="ck_rate" /> Rate
                <br />
                <input type="checkbox" name="ck_last_hour_sal" /> Last Hour Salary
                <br />
                <input type="checkbox" name="ck_diff_hour_sal" /> Difference Hour Salary
                <br />
                <input type="checkbox" name="ck_last_rate" /> Last Rate
                <br />
                </ul>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </details>
        <br>
    </form>
</div>
