<p id="notice"><%= notice %></p>


<div class="title">Home</div>

<div class="search">
    <form method="get" action="/results">
        <h3>Branch : </h3>
        <select name='branch'>
            <option value='ALL' selected>All</option>
            <option value='Kitakyushu'>Kitakyushu</option>
            <option value='Tokyo'>Tokyo</option>
            <option value='Fukuoka'>Fukuoka</option>
        </select>

        <h3>Department : </h3>
        <select name='department'>
            <option value='ALL' selected>All</option>
            <option value='F-Labo'>F-Labo</option>
            <option value='Growth Hack Ata'>Growth Hack Ata</option>
            <option value='Game Studio'>Game Studio</option>
            <option value='Teqbase'>Teqbase</option>
        </select>

        <h3>Task : </h3>
        <select name='task'>
            <option value='ALL' selected>All</option>
            <option value='Development'>Development</option>
            <option value='Management'>Management</option>
            <option value='Human Resource'>Human Resource</option>
        </select>

        <h3>ID : </h3>
        <input type="text" name="emp_id" value="ALL">
        <br>
        <h3>
	<input type="submit" value="Search" style="margin-top: 50px; padding: 10px 20px;">
	</h3>
    </form>
</div>
