.search
{
    text-align: center;
    margin: 100px 0px 0px 0px;
    width: auto;
}

.search_option
{
    text-align: center;
    margin: 50px 0px 50px 0px;
    width: auto;
}

.title
{
	text-align: center;
	font-size: 40px;
	margin: 50px 0px 50px 0px;
}

caption
{
  font-size: 30px;
  text-align: left;
  margin: 20px;
  font-weight: bold;
}

body
{
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

p, ol, ul
{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

pre
{
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a
{
    color: #777;

    &:visited
    {
      color: #777;
    }

    &:hover
    {
      color: #fff;
      background-color: #000;
    }
}


#notice
{
    color: green;
}

.field_with_errors
{
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation
{
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    h2
    {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px -7px 0;
        background-color: #c00;
        color: #fff;
    }
    ul li
    {
      font-size: 12px;
      list-style: square;
    }
}

h3
{
  	display: inline;
  	margin-left: 30px;
}

label
{
    display: block;
}


table.result
{
    border-collapse: collapse;
    text-align: right;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: auto;
    margin: 10px auto 10px auto;
}

th, td
{
  border-bottom: 1px solid #444444;
  padding: 10px;
  text-align: center;
}

thead tr
{
  background-color: #ffb400;
  color: #ffffff;
}

tbody tr:nth-child(2n)
{
  background-color: #fbf7bb;
}

tbody tr:nth-child(2n+1)
{
  background-color: #fdfbe3;
}

td:hover
{
  background-color: #e9e5cb;
}

#topMenu
{
    height: 30px;
}

#topMenu ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#topMenu ul li
{
    color: rgb(255, 255, 255);
    background-color: #2d2d2d;
    float: left;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    //position: relative;
}

.menuLink, .submenuLink
{
    text-decoration: none;
    display: block;
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum;
}

.menuLink
{
    color: rgb(255, 255, 255);
}

.topMenuLi:hover .menuLink
{
    color: rgb(252, 252, 252);
    background-color: #838080
}

.submenuLink
{
    color: #2d2d2d;
    background-color: white;
    border: solid 1px black;
}

.longLink
{
    width: 190px;
}

.submenu
{
    position: absolute;
    height: 0px;
    overflow: hidden;
    transition: height .2s;
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;
}

.topMenuLi:hover .submenu
{
    height: 93px;
}

.submenuLink:hover
{
    color: rgb(0, 0, 0);
    background-color: #dddddd;
}


button{
  background: #ffb400;
  color:#fff;
  border:none;
  position:relative;
  height:45px;
  font-size:1.3em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 6px;
}

button.right
{
    float: right;
    margin: 0px 30px 50px 0px;
}

button.center
{
    float: none;
    margin: 20px 47% 100px 47%;
}

button:hover{
  background:#fff;
  color: #ffb400;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ffb400;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
