<p id="notice"><%= notice %></p>

<div class="title">給与照会&変更</div>          <!--Home-->

<div class="search">
    <form method="get" action="/results">
        <h3>支社 : </h3>
        <select name='branch'>            <!--지사-->
            <option value='ALL' selected>ALL</option>
            <option value='Fukuoka'>福岡</option>               <!--후쿠오카-->
            <option value='Kitakyushu'>北九州</option>         <!--키타큐슈-->
            <option value='Tokyo'>東京</option>              <!--도쿄-->
        </select>

        <h3>部署 : </h3>
        <select name='department'>        <!--부서-->
            <option value='ALL' selected>ALL</option>
            <option value='F-Labo'>F-Labo</option>
            <option value='Growth Hack Ata'>Growth Hack Ata</option>
            <option value='Game Studio'>Game Studio</option>
            <option value='Teqbase'>Teqbase</option>
        </select>

        <h3>職種 : </h3>
        <select name='task'>              <!--직종-->
            <option value='ALL' selected>ALL</option>
            <option value='Development'>開発</option>                 <!--개발-->
            <option value='Management'>管理</option>                  <!--관리-->
            <option value='Sales'>営業</option>                       <!--영업-->
            <option value='Human Resource'>人事調達</option>          <!--인사관리-->
        </select>

        <h3>番号 : </h3>
        <input type="text" name="emp_id" value="ALL">

        <br>
        <h3><input type="submit" value="検索" style="margin: 50px 0px 0px -30px; padding: 10px 20px; cursor:pointer"></h3>



        <details class="search_option">
            <summary style="cursor:pointer; width: 100px; margin: 0px auto 0px auto">検索オプション</summary>     <!-- search option -->
            <div style="text-align:center; width: 700px; margin: 0px auto 0px auto; padding-left: 100px">
                <ul style="text-align:left">
                <b>職員の情報</b>           <!--직원의정보-->
                <br />
                <input type="checkbox" name="option_list[]" value="name" checked="checked"/> 氏名    <!--이름-->
                <br />
                <input type="checkbox" name="option_list[]" value="age" checked="checked"/> 年齢    <!--나이-->
                <br />
                <input type="checkbox" name="option_list[]" value="birth"/> 生年月日    <!--생년월일-->
                <br />
                <input type="checkbox" name="option_list[]" value="judgment"/> 判定    <!--판정-->
                <br />
                <input type="checkbox" name="option_list[]" value="residence"/> 住居   <!--주거-->
                <br />
                <input type="checkbox" name="option_list[]" value="fam_spouse"/> 扶養家族数(配偶者)   <!--배우자-->
                <br />
                <input type="checkbox" name="option_list[]" value="fam_except_spouse"/> 扶養家族数(子：18迄）   <!--부양가족수-->
                <br />
                <input type="checkbox" name="option_list[]" value="branch" checked="checked"/> 支社   <!--지사-->
                <br />
                <input type="checkbox" name="option_list[]" value="department" checked="checked"/> 部署   <!--부서-->
                <br />
                <input type="checkbox" name="option_list[]" value="task" checked="checked"/> 職種   <!--직종-->
                <br />
                <input type="checkbox" name="option_list[]" value="position" checked="checked"/> 職位    <!--직책-->
                <br /> 
                </ul>

                <ul style="text-align:left">
                <b>職員評価</b>             <!--직원 평가-->
                <br />
                <input type="checkbox" name="ck_age_ad" /> 年齢調整    <!--나이조정-->
                <br />
                <input type="checkbox" name="ck_isms" /> ISMS    <!--ISMS-->
                <br />
                <input type="checkbox" name="ck_healty" /> 安全衛生委員    <!--안전보건위원회-->
                <br />
                <input type="checkbox" name="ck_small_group" /> 小集団    <!--소집단-->
                <br />
                <input type="checkbox" name="ck_eval_mgm" /> 経営評価   <!--경영평가-->
                <br />
                <input type="checkbox" name="ck_eval_tec" /> 技術評価    <!--기술평가-->
                <br />
                <input type="checkbox" name="ck_adjustment" /> 調整    <!--조정-->
                <br />
                <input type="checkbox" name="ck_is_short_work" /> 時短勤務    <!--시간단축근무 여부-->
                <br />
                <input type="checkbox" name="ck_overtime" /> 定額残業時間    <!--잔업시간-->
                <br />
                </ul>

                <ul style="text-align:left">
                <b>給与情報</b>            <!--급여 정보-->
                <br />
                <input type="checkbox" name="ck_standard_sal" /> 基準給与     <!--기준급여-->
                <br />
                <input type="checkbox" name="ck_ability_sal" /> 職能給（基準）     <!--직능급(기준)-->
                <br />
                <input type="checkbox" name="ck_position_sal" /> 役職手当     <!--직위수당-->
                <br />
                <input type="checkbox" name="ck_task_sal" /> 職務手当     <!--직종수당-->
                <br />
                <input type="checkbox" name="ck_praise_sal" /> 精勤手当     <!--정근 수당-->
                <br />
                <input type="checkbox" name="ck_residence_spt_sal" /> 首都圏手当     <!--수도권 수당-->
                <br />
                <input type="checkbox" name="ck_basic_sal" /> 基本給     <!--기본급-->
                <br />    
                <input type="checkbox" name="ck_hour_sal" /> 時間単価     <!--시간 단가-->
                <br />
                <input type="checkbox" name="ck_over_hour_sal" /> 残業単価     <!--잔업 단가-->
                <br />
                <input type="checkbox" name="ck_over_sal" /> 定額残業代     <!--초과 근무 수당-->
                <br />
                <input type="checkbox" name="ck_fam_sal" /> 家族手当     <!--가족 수당-->
                <br />
                <input type="checkbox" name="ck_total_sal" /> 額面給与     <!--액면 급여-->
                <br />
                <input type="checkbox" name="ck_last_total_sal" /> 2018下期給与     <!--2018하반기 급여-->
                <br />
                <input type="checkbox" name="ck_diff_total_sal" /> 差額     <!--차액-->
                <br />
                <input type="checkbox" name="ck_rate" /> 昇給率     <!--승급률-->
                <br />
                <input type="checkbox" name="ck_last_hour_sal" /> 昨年時給     <!--지난해 시급-->
                <br />
                <input type="checkbox" name="ck_diff_hour_sal" /> 時給差額     <!--시급 차액-->
                <br />
                <input type="checkbox" name="ck_last_rate" /> 昨昇給率     <!--지난 임금 상승률-->
                <br />
                </ul>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </details>
        <br>
    </form>
</div>
